<!DOCTYPE html>
<html>
<head>
  <title>Cricket Dashboard - Player Details</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <h1><%= player.name %></h1>
  <p>Team: <%= player.team.name %></p>
  </body>
</html>